<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>TALLER NRO 2</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css\estilos.css">
	
</head>
<body ng-controller="myCtrl">
	<div class="container">
		
		<div class="row">
			<div class="col-md-offset-4 col-md-8">
				<h1>{{title}}</h1>
			</div>
			<div class="table-responsive  col-md-12">
				<table class="table table-hover">
					<a href="" class="btn btn-primary" ng-click="agregarp()">Agregar <span class="glyphicon glyphicon-plus"></span></a>
					<br><br>
					<div class="row">
						<div class="agregar col-md-12">
							<div ng-show="agregar">
								<a href="" class="btn btn-primary" ng-click="credicardf()">Credit Card</a>
								<a href="" class="btn btn-success" ng-click="bankaccountf()">Bank Account</a>
							</div>
						</div>
					</div>
					<thead>
						<tr>
							<th>Number</th>
							<th>Account Holder</th>
							<th>Payment Company</th>
						</tr>
					</thead>
					<tbody ng-repeat="x in paymentMethods">
						<th>
							{{x.number}}
						</th>
						<td>{{x.paymentHolder}}</td>
						<td>{{x.paymentCompany}}</td>
					</tbody>
				</table>	
			</div>

			
			<h3>JSON</h3>
			<table class="table table-hover">
				<thead>
						<tr>
							<th>Number</th>
							<th>Account Holder</th>
							<th>Payment Company</th>
						</tr>
					</thead>
					<tbody ng-repeat="x in paymentMethods">
						<th>
							{{x.number}}
						</th>
						<td>{{x.paymentHolder}}</td>
						<td>{{x.paymentCompany}}</td>
					</tbody>
			</table>
		</div>
		<div class="row" ng-show="credicard">
			<div class="col-md-6 registro">
				<h3>CreditCard</h3>
				<hr>
				<form>
					<div class="form-group">
						<label for="number" >Number</label>
						<input type="number" class="form-control" ng-model="number" id="number" disabled="" placeholder="{{contador+1}}">
					</div>
					<div class="form-group">
						<label for="ch">Card Holder</label>
						<input type="text" class="form-control" ng-model="Holder" id="ch">
					</div>
					<div class="form-group col-md-6">
						<label for="bynes">Bynes</label>
						<input type="number" class="form-control" id="bynes" ng-model="bynes">
					</div>
					<div class="form-group col-md-6">
						<label for="type">Type</label>
						<select class="form-control" id="type" ng-model="usertype">
							<option ng-repeat="z in types">{{z.name}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="pc">Payment Company</label>
						<select class="form-control" id="pc" ng-model="paymentCompany">
							<option ng-repeat="y in paymentCompanies">{{y.name}}</option>
						</select>
					</div>
					<button type="submit" ng-click="addItem(); addCredi();" class="btn btn-default btn-lg btn-block">Pay</button>
					<br><br>
				</form>
			</div>
		</div>
		



		<div class="row" ng-show="bankaccount">
			<div class="col-md-offset-6 col-md-6 registro">
				<h3>Bank Account</h3>
				<hr>
				<form>
					<div class="form-group">
						<label for="number">Number</label>
						<input type="number" class="form-control" id="number" ng-model="number" disabled="" placeholder="{{contador+1}}">
					</div>
					<div class="form-group col-md-6">
						<label for="ch">Bank account Holder</label>
						<input type="text" class="form-control" ng-model="Holder" id="ch">
					</div>
					<div class="form-group col-md-6">
						<label for="bynes">Account number</label>
						<input type="number" class="form-control" ng-model="an" id="bynes">
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" id="email" ng-model="email" placeholder="Email">
					</div>
					<div class="form-group">
						<label for="pc">Payment Company</label>
						<select class="form-control" id="pc" ng-model="paymentCompany">
							<option ng-repeat="y in paymentCompanies">{{y.name}}</option>
						</select>
					</div>
					<button type="submit" class="btn btn-default btn-lg btn-block" ng-click="addItem()">Pay</button>
					<br><br>
				</form>
			</div>
		</div>
	</div>

	
	<script src="js/angular.min.js"></script>
	<script src="js/controllers/indexController.js"></script>
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.js"></script>
</body>
</html>